body{
	margin: 0;
	padding: 0;
}
.inline{
	display: inline-block;
	vertical-align: top;
}
.marPad{
	margin: 0;
	padding: 0;
}
.container{
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}
.header{
	height: 150px;
	background-color: gray;
}
.main{
	height: 800px;
	background-color: black;
}
.mainPic{
	width: 377px;
	height: 255px;
	margin: 10px;
	padding: 0;
	border: white 5px solid;
	background-color: green;
}
.mainAbout{
	width: 550px;
	height: 260px;
	margin: 10px;
	background-color: blue;
}
.smallBox{
	width: 226px;
	height: 300px;
	margin: 10px;
	background-color: yellow;
}